.sign-in-up-card {
    background-image: url('../../assets/wood.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 75px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    height: 400px;
    position: relative;
}

.sign-in-up-card h2 {
    margin-bottom: 40px;
}

.input-container {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.button-container a {
    color: #333333;
}
