.form-control {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.input-field {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #CCB49B;
}
