.active.btn {
    background-color: #f4efea;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #333333;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-left: 25px;
    margin-right: 25px;
}

.active.btn:hover {
    background-color: #fcfbf9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: #fcfbf9;
}
