.questionnaire {
    display: flex;
    justify-content: right;
    margin-bottom: 35px;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
}

.question h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.recipe-list {
    margin-top: 130px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error-message {
    color: #cc0000;
}

.radio-options,
.checkbox-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.radio-options label,
.checkbox-options label {
    margin-bottom: 5px;
}

.card-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.get-recipes-btn {
    margin-bottom: 300px;
}