.nav-button {
    background-color: #FCFBF9;
    border: none;
    color: #333333;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.button-icon {
    width: 20px;
    margin-right: 8px;
}

.nav-button:hover {
    background-color: #F4EFEA;
}
