.container.signin-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.signin-card {
    background-image: url('../../assets/wood.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.authentication-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.error {
    color: #cc0000;
    margin-top: 15px;
}

.forgot-password {
    color: #666666;
    cursor: pointer;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #333333;
}
