body {
    color: #333333;
}

.container.signin-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.card {
    background-image: url('../../assets/wood.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.authentication-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    background-color: #f4efea;
    border: none;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #333333;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #fcfbf9;
}

.add-form {
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.form-control input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #333333;
}

.forgot-password {
    color: #666666;
    cursor: pointer;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #333333;
}

.error {
    color: #cc0000;
    margin-top: 15px;
}
