.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px;
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FCFBF9;
    padding: 8px 0;
    margin: 0 0;
    border-bottom: 2px solid #F4EFEA;
}

.logo img {
    height: 40px;
}

.website-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.website-name a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.website-name a:hover {
    color: #333333;
}

.left-section,
.right-section,
.center-section {
    flex: 1;
}

.right-section {
    display: flex;
    justify-content: flex-end;
}

.sign-in-button .nav-button {
    background-color: white;
    color: black;
}

.sign-in-button:hover .nav-button {
    background-color: #FCFBF9;
}

@media screen and (max-width: 768px) {
    .top-navbar {
        padding: 8px;
    }

    .logo img {
        height: 30px;
    }

    .website-name {
        font-size: 16px;
    }
}
