/* Navigation.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px;
}

.bottom-navbar {
    display: flex;
    justify-content: space-between; /* evenly split buttons */
    background-color: #FCFBF9;
    padding: 8px 0;
    margin: 0 10px;
    border-bottom: 2px solid #F4EFEA; /* Add a 2px horizontal line under the bottom-navbar */
}

.logo img {
    height: 40px;
}

.website-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333333; /* Set the color to the original color */
}

.website-name a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent (.website-name) */
    font-weight: bold; /* Make the text a bit bolder */
}

.website-name a:hover {
    color: #333333; /* Keep the same color on hover */
}

.left-section,
.right-section,
.center-section {
    flex: 1;
}

.right-section {
    display: flex; /* Change to flex to align items */
    justify-content: flex-end; /* Align content to the right */
}

.sign-in-button .nav-button {
    background-color: white; /* Set default background color to white */
    color: black; /* Set default text color to black */
}

.sign-in-button:hover .nav-button {
    background-color: #FCFBF9; /* Change background color to #FCFBF9 on hover */
}

@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .top-navbar {
        padding: 8px;
    }

    .logo img {
        height: 30px;
    }

    .website-name {
        font-size: 16px;
    }
}
